{% extends 'base.html' %}
{% block title %}TravelU{% endblock title %}
{% block content %}
<nav class="navbar navbar-expand-lg fixed-top">
    <div class="container">
        <a class="navbar-brand me-auto" href="homepage.html">TravelU</a>
        <div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasNavbar"
            aria-labelledby="offcanvasNavbarLabel">
            <div class="offcanvas-header">
                <h5 class="offcanvas-title" id="offcanvasNavbarLabel">Logo</h5>
                <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
            </div>
            <div class="offcanvas-body">
                <ul class="navbar-nav justify-content-center flex-grow-1 pe-3">
                    <li class="nav-item">
                        <a class="nav-link mx-lg-2 active" aria-current="page" href="/homepage/">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link mx-lg-2" href="/jadwal/{{penumpang.id}}">Schedule</a>
                    </li>
                </ul>
            </div>
        </div>
        <button class="navbar-toggler pe-0" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasNavbar"
            aria-controls="offcanvasNavbar" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
</nav>

<section class="hero-section">
    <div class="container d-flex align-items-center justify-content-center fs-1 text-white flex-column">
        <div class="header__image__container">
            <div class="header__content">
              <h1>UPDATE</h1>
            </div>
            <div class="booking__container">
              <form action="/update/" method="post">
                <input type="hidden" name="test" value="{{reservasi.id}}">
                <div class="form__group">
                  <div class="input__group">
                    <select class="form-select" aria-label="Default select example" name="lokasiawal">
                        <option selected></option>
                        <option value="BogorKota">Kota Bogor</option>
                        <option value="Dramaga">Dramaga</option>
                        <option value="Leuwiliang">Leuwiliang</option>
                    </select>
                  </div>
                  <p>Where are you now?</p>
                </div>
                <div class="form__group">
                  <div class="input__group">
                    <select class="form-select" aria-label="Default select example" name="lokasiakhir">
                        <option selected></option>
                        <option value="BogorKota">Kota Bogor</option>
                        <option value="Dramaga">Dramaga</option>
                        <option value="Leuwiliang">Leuwiliang</option>
                    </select>
                  </div>
                  <p>Where are you going</p>
                </div>
                <button type="sumbit" class="btn">Update</button>
              </form>
            </div>
          </div>
    </div>
</section>

{% endblock content %}

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
    crossorigin="anonymous"></script>

