{% extends 'base.html' %}
{% block title %}Main Page{% endblock title %}
{% block content %}
{{ penumpang.NIM }}
<form action="/reservasi/" method="post">
    {% csrf_token %}
    <input type="hidden" name="penumpang" value="{{penumpang.id}}">
    <select name="lokasiawal">
        <option value="">Lokasi Berangkat</option>
        <option value="BogorKota">Kota Bogor</option>
        <option value="Dramaga">Dramaga</option>
        <option value="Leuwiliang">Leuwiliang</option>
    </select>
    <select name="lokasiakhir">
        <option value="">Lokasi Tujuan</option>
        <option value="BogorKota">Kota Bogor</option>
        <option value="Dramaga">Dramaga</option>
        <option value="Leuwiliang">Leuwiliang</option>
    </select>
    <input type="date" name="date">
    <input type="submit" value="Pesan">
</form>
<br>
<a href="/jadwal/{{penumpang.id}}">Jadwal</a>

{% endblock content %}